extends ../layout
block content
    div.card
        div.card-header
            p.card-title.h2 Cập nhật số dư người dùng
        div.card-body
            form(action="./update" method="POST" enctype="multipart/form-data")
                div
                    div.mx-3.my-3
                        label.form-label.h6(for="username") Tên người dùng
                        input.form-control#username(name="username" type="text" value=user.username disabled)
                    div.mx-3.my-3
                        label.form-label.h6(for="email") Email
                        input.form-control#email(name="email" type="text" value=user.email disabled)
                    div.mx-3.my-3
                        label.form-label.h6(for="phone") Số điện thoại
                        input.form-control#phone(name="phone" type="text" value=user.phone disabled)
                    div.mx-3.my-3
                        label.form-label.h6(for="balance") Số dư
                        input.form-control#balance(name="balance" type="number" value=user.balance)
                    button.btn.btn-primary.mx-3.my-3(type="submit") Cập nhật




